<div class="cakes-container">
  <div class="top-container">
    <h2>Cookies</h2>
    <img src="./assets/cookies/cookiesbg.jpg" />
    <p class="cake-paragraph">
      Crunch into our heavenly cookies, a sweet treat that's sure to satisfy any
      craving. Made with only the freshest ingredients and baked to perfection,
      our cookies are a bite of pure bliss.
    </p>
  </div>

  <div class="card-container1">
    <div *ngFor="let row of [0]; let rowIndex = index" class="card-row">
      <div
        *ngFor="let cake of cakes.slice(rowIndex * 4, (rowIndex + 1) * 4)"
        class="card1"
      >
        <img [src]="cake.image" alt="Cake Image" />
        <div class="card-content1">
          <h4>{{ cake.title }}</h4>
          <span class="price">₹{{ cake.price }}</span>
        </div>
        <button class="cart-button" (click)="addToCart(cake)">
          <i class="bi bi-cart-fill"></i>
        </button>
      </div>
    </div>
  </div>
</div>
