<div>
  <div class="footer">
    <img
      src="https://i.postimg.cc/7ZJpqyTB/image.png"
      alt=""
      class="footer-image"
    />
    <p>
      SweetSpot aims to deliver delight to customers' doorsteps by providing a
      seamless and user-friendly cake-shopping experience. SweetSpot aims to
      revolutionize the cake delivery industry by offering a comprehensive
      online platform that simplifies the process of ordering customized cakes
      and ensures timely delivery.
    </p>
    <p>&copy; 2024 SweetSpot. All rights reserved.</p>
  </div>
</div>
