.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}
.nav-headimage {
  height: 100px;
}

.main-heading {
  color: lavenderblush;
}

.popup-content h2 {
  margin-bottom: 20px;
}

.popup-content button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.popup-content button:hover {
  background-color: #0056b3;
}

h1 {
  text-align: center;
  color: rgb(151, 93, 93);
  margin: 20px;
}

#m_map {
  margin: 20px 20px 30px 20px;
  width: 65%;
}

.map-details {
  width: 35%;
  margin: 20px;
  margin-left: 80px;
}

.start,
.end {
  margin: 10px;
}

.flex {
  display: flex;
}

.route {
  margin: 15px;
}

.distance,
.duration {
  margin: 15px;
}
