<!-- Navigation bar -->
<nav class="navbar sticky-top navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand fs-2 px-4" routerLink=""
        ><i class="bi bi-cake-fill"></i> SweetSpot</a
      >
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarText"
        aria-controls="navbarText"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 px-2 fs-4">
          <li class="nav-item px-2">
            <a class="nav-link active" aria-current="page" routerLink="">Home</a>
          </li>
          <li class="nav-item px-2">
            <a class="nav-link" routerLink="/products">Products</a>
          </li>
          <li class="nav-item px-2">
            <a class="nav-link" routerLink="/customize">Customize</a>
          </li>
          <li class="nav-item px-2">
            <a class="nav-link" routerLink="/cart">Cart</a>
          </li>
          <li class="nav-item dropdown px-2">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Profile
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="/login">SignIn</a></li>
              <li><a class="dropdown-item" routerLink="/signup">SignUp</a></li>
              <li>
                <a
                  class="dropdown-item text-danger"
                  data-bs-toggle="modal"
                  data-bs-target="#exampleModal"
                  >LogOut</a
                >
              </li>
            </ul>
          </li>
        </ul>
        <span class="navbar-text">
          <form class="d-flex" role="search">
            <input
              class="form-control me-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
            <button
              class="btn btn-outline-success"
              style="background-color: #e3f2fd"
              type="submit"
            >
              <i class="bi bi-search"></i>
            </button>
          </form>
        </span>
      </div>
    </div>
  </nav>


  <div class="container">
    <div class="header row pt-3">
      <div class="col-6 ">
        <h1 class="heading"><u>Store Locations</u></h1>
      </div>
      <div class="col-6 text-end">
        <button class="btn btn-outline-success fs-4 mt-3 mb-3" (click)="openModel()">Add New Store</button>
      </div>
    </div>
    @if (storeList.length !== 0) {
    <div class="row">
      @for (item of storeList; track $index) {
      <div class="col-3">
        <div class="card mb-3">
          <div class="card-header">
              <div class="card-font">
                <b>City</b> - {{item.city}}
              </div>
          </div>
          <div class="card-body card-font">
            <p><b>Address</b> - {{item.address}}</p>
          </div>
          <div class="card-footer text-center">
            <div class="row">
              <div class="col-6">
                <button class="btn btn-sm btn-primary fs-6" (click)="onEdit(item)">Edit</button>
                </div>
                <div class="col-6">
                <button class="btn btn-sm btn-danger fs-6" (click)="onDelete(item)">Delete</button>
              </div>
            </div>
  
          </div>
        </div>
      </div>
      }
    </div>
    } @else { 
      <div class="row">
        <div class="col-12 p-4 text-center mt-4 mb-4">
          <h3>No Record Found. Create New Record</h3>
        </div>
      </div>
    }
  
  </div>
  
  
  <div class="modal" id="myModal" #myModal>
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Create New Store</h4>
          <button type="button" class="btn-close" (click)="closeModel()"></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-8">
              <label for="">City</label>
              <input type="text" [(ngModel)]="storeObj.city" class="form-control" placeholder="City">
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <label for="">Address</label>
              <textarea rows="3" [(ngModel)]="storeObj.address" class="form-control"></textarea>
              
            </div>
          </div>
          
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" (click)="closeModel()">Close</button>
          @if (storeObj.id ==0) {
            <button type="button" class="btn btn-primary" (click)="saveStudent()">Save Store Location</button>
          } @else {
            <button type="button" class="btn btn-success" (click)="updateStud()">Update Store Location</button>
          }
         
        </div>
      </div>
    </div>
  </div>

  
<app-footer></app-footer>