.customize-container{
    display: flex;
}

.container.main{
    width: 100%;
}

.sidebar{
    margin: 0;
    padding: 0;
    width: 20%;
    border-top: solid 1px lightgray;
}

.sidebar h1{
    text-align: center;
    margin: 40px;
    font-size: 50px;
    color: rgb(189, 135, 135);
}

.sidebar ul{
    margin: 40px;
    list-style: none;
}
  
.sidebar ul li{
    padding: 10px;
    border: 1px solid #ccc; 
    border-radius: 5px; 
    box-sizing: border-box;
    border-radius: 10%;
    font-size: 20px;
    margin-bottom: 30px;
    transition: background-color 0.3s ease;
    text-align: center; 
}

.sidebar ul li:hover {
    background-color: pink;
    color: rgb(189, 135, 135);
  }

  .sidebar ul li:active {
    background-color: pink;
  }

.sidebar ul a{
    text-decoration: none;
    color: black;
}

