<div class="cakes-container">
  <div class="top-container">
    <h2>Birthday Cakes</h2>
    <img
      src="https://i.pinimg.com/564x/e4/02/91/e402913254feb2540b1481593e314126.jpg"
    />
    <p class="cake-paragraph">
      Celebrate life's special moments with our enchanting birthday cakes,
      designed to make every celebration unforgettable. Our bakery offers a
      delightful assortment of birthday cakes, from elegant tiered designs to
      personalized creations.
    </p>
  </div>

  <div class="card-container1">
    <div *ngFor="let row of [0, 1]; let rowIndex = index" class="card-row">
      <div
        *ngFor="let cake of cakes.slice(rowIndex * 4, (rowIndex + 1) * 4)"
        class="card1"
      >
        <img [src]="cake.image" alt="Cake Image" />
        <div class="card-content1">
          <h4>{{ cake.title }}</h4>
          <span class="price">₹{{ cake.price }}</span>
        </div>
        <button class="cart-button" (click)="addToCart(cake)">
          <i class="bi bi-cart-fill"></i>
        </button>
      </div>
    </div>
  </div>
</div>
