* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.signup-container {
  background-color: lavender;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 40px;
  width: 450px;
  margin: 0 auto;
  margin-top: 50px;
}

.img1 {
  display: block;
  margin: 0 auto 20px;
  width: 100px;
  height: auto;
  border-radius: 50%;
}

.sign {
  font-size: 38px;
  margin-left: 10px;
  margin-bottom: 17px;
}

.reg {
  margin-left: 10px;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

.unp {
  width: 100%;
  color: black;
  height: 45px;
  margin: 10px 0px;
  padding: 15px;
  font-size: 17px;
  border: 2px solid rgb(218, 214, 214);
  border-radius: 15px;
}

.signup {
  width: 100%;
  height: 40px;
  border: hidden;
  border-radius: 20px;
  font-size: 18px;
  margin: 15px 0px;
  background-color: cornflowerblue;
  color: white;
  font-size: 24px;
  cursor: pointer;
  transition: all 1s ease;
}

.signup:hover {
  background-color: lightcoral;
}

.footer {
  margin-top: 8px;
  margin-bottom: 16px;
  margin-left: 10px;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.6);
}
.forgot {
  margin-left: 130px;
  color: rgba(0, 0, 0, 0.6);
}
