<div class="cakes-container">
    <div class="inline">
        <h2>Baby Shower</h2>
        <img src="./assets/cakebg.jpg">
    </div>
    <p class="cake-paragraph">Capture the joy of new beginnings with our adorable baby shower cakes. Designed to celebrate and delight, these confections add sweetness to your special occasion.
       Make your baby shower even more memorable with our delightful cakes
    </p>

    <div class="card-container1">
        <div *ngFor="let row of [0,1]; let rowIndex = index" class="card-row">
          <div
            *ngFor="let cake of cakes.slice(rowIndex * 4, (rowIndex + 1) * 4)"
            class="card1"
          >
            <img [src]="cake.image" alt="Cake Image" />
            <div class="card-content1">
              <h4>{{ cake.title }}</h4>
              <span class="price">₹{{ cake.price }}</span>
            </div>
            <button class="cart-button" (click)="addToCart(cake)"><i class="bi bi-cart-fill"></i></button>
          </div>
        </div>
      </div>

</div>
