* {
  font-family: "Times New Roman", Times, serif;
}
.heading {
  text-align: center;
}

.opening-statement {
  margin-top: 30px;
  font-size: 44px;
}

.section1 {
  margin: 20px;
  font-weight: 600;
  background-color: white;
  border-radius: 10px;
  color: black;
  animation: fadeEffect 1s;
}

@keyframes fadeEffect {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.section1-container {
  margin: 20px;
  padding: 20px;
}

.cake-desc {
  text-align: center;
  justify-content: center;
  width: 90%;
  font-size: larger;
  margin-left: 100px;
}

.heading1 {
  color: black;
  text-align: center;
}

.section2 {
  padding: 20px;
  margin-left: 30px;
  margin-right: 30px;
}

.card-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
}

.card-page {
  display: flex;
}

.card {
  width: 25%;
  margin: 15px;
  border-radius: 20px;
  background-color: white;
  box-sizing: border-box;
  position: relative;
  transition: all 0.5s ease-in;
  color: black;
  font-weight: bold;
  animation: slideIn 2s;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-1000px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.card:hover {
  scale: 0.8;
  cursor: pointer;
}
.card img {
  border-radius: 20px;
  height: 350px;
  object-fit: cover;
}

.card-content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 10px;
  opacity: 0;
}

.inline1 {
  margin: 20px;
}

.inline2 {
  margin: 20px;
}

.heading2 {
  display: flex;
  justify-content: space-between;
}

.section3 {
  padding: 20px;
  margin-left: 30px;
  margin-bottom: 40px;
}
.card-container1 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 25px;
  align-items: center;
  justify-content: center;
}

.cake-theme {
  text-align: center;
  font-size: 38px;
  color: white;
  padding-bottom: 30px;
}
.card-row {
  display: flex;
  flex-wrap: wrap;
}

.card1 {
  margin: 10px;
  border: 1px solid #ddd;
  background-color: white;
  border-radius: 10px;
  padding: 8px;
  box-sizing: border-box;
  text-align: center;
  position: relative;
  animation: slideIn 2s;
  transition: transform 0.8s;
}

.card1:hover {
  transform: rotate(4deg);
  cursor: pointer;
}

.section3 {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card1 img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.card-content1 {
  margin-top: 5px;
  margin-bottom: 10px;
  margin-left: 5px;
  text-align: left;
}

.card-content1 h4 {
  margin-bottom: 5px;
}

.price {
  font-weight: bold;
  color: #333;
}

.opening-statement {
  color: white;
}

.cart-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: lavender;
  color: black;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.cake-title {
  font-size: 18px;
  text-align: center;
  padding-top: 20px;
}

.nav-headimage {
  height: 100px;
  width: 100px;
}
