.contact-container h3{
    margin-top: 20px;
    color: rgb(134, 85, 85);  
    font-size: 38px;
    font-weight: 300;
    margin-bottom: 10px; 
}

.form-group1 input{
    margin-top: 10px;
}

.form-group1 textarea{
    margin-top: 10px;
}

.paymentform h2{
    margin-top: 20px;
    color: rgb(134, 85, 85);  
    font-size: 38px;
    font-weight: 300;
}

.paymentform p{
    color: rgb(139, 137, 137);
}

.form-group label {
    display: inline;
  }

  .form-group input {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
  }

  .paymentform button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 3px;
    cursor: pointer;
    margin-bottom: 20px;
  }